@model SMW.Admin.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
        Layout = "~/Views/Shared/_LayoutMvc.cshtml";
    }



<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="login col-sm-12">
                <div class="text-center m-b-md">
                    <img width="120" src="/images/logo.gif" />
                    <div class="clear5"></div>
                    <h3>Create a New SMW Account </h3>
                </div>
                <div class="clear20"></div>

                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">

                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeHolder = "Unique user name" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstName, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.LastName, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            <span style="color:#337ab7;">
                                The Password must be at least 6 characters long, contain atleast one non-letter/digit(*,#),
                                Passwords must have at least one digit ('0'-'9').
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default" value="Register" />
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}